/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html insieme a body necessario se si vuol occupare tutta l'altezza della viewport, e riempire in verticale con le dimensioni degli elementi header, main e footer */
body,
html {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

header {
    /*background-color: green;*/
    width: 100%;
    height: auto;
    padding: 1rem;
    border-bottom: 3px solid #000;
}

main {
    /*background-color: yellow;*/
    width: 100%;
    height: auto;
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;*/
}

article {
    background-color: #FFFFFF;
    padding: 1rem;
    width: 400px;
    height: 200px;
    border: 3px solid #000;
    margin: 1rem auto;
}

footer {
    /*background-color: red;*/
    width: 100%;
    height: auto;
    padding: 1rem;
    border-top: 3px solid #000;
}